<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.1.1" targetFramework="net40" />
  <package id="Durandal" version="2.0.1" targetFramework="net40" />
  <package id="Durandal.Transitions" version="2.0.1" targetFramework="net40" />
  <package id="FontAwesome" version="4.0.3.1" targetFramework="net40" />
  <package id="jQuery" version="1.11.0" targetFramework="net40" />
  <package id="knockoutjs" version="3.1.0" targetFramework="net40" />
  <package id="Modernizr" version="2.7.2" targetFramework="net40" />
  <package id="Moment.js" version="2.5.1" targetFramework="net40" />
  <package id="RequireJS" version="2.1.11" targetFramework="net40" />
  <package id="RequireJS.Text" version="2.0.7" targetFramework="net40" />
</packages>