<div class="page">
    <h1 class="page-header">Our Story</h1>
    <p>
        Ten years ago, we met at a High School prom, which we did not attend together. Seven years later, through some lucky timing and the glorious invention of the internet, we met again. We shared falafel and many laughs, and after closing down the restaurant, we knew we had something.
    </p><p>
        In the past few years, we’ve been separated by states, oceans, and even the entire planet (it’s called Malaysia). Yet, despite the time apart, we always knew we would end up here. In February 2014, Brenton sent me more than 400 roses. The next weekend, he surprised me again by showing up and kidnapping me. He took me to the Atlanta zoo and, with the help of an Elephant named Kelly, proposed.
    </p><p>
        So, that’s our story. Ten years in the making. We’re getting married and we can’t wait to share that special day with you!
    </p>
    <img src="/content/images/Story.jpg" class="img-responsive" style="margin: 0 auto;" alt="Story" />
</div>