<div class="page">
    <h1 class="page-header">Guest Information</h1>
    <h2>Primary Hotel</h2>
    <div class="row">
        <div class="col-md-4">
            <address>
                <strong>Embassy Suites - RDU Airport / Brier Creek</strong>
                <br />
                8001 Arco Corporate Drive
                <br />
                Raleigh, North Carolina 27617
                <br />
                <abbr title="Phone">P:</abbr> <a href="callto:9195722200">(919) 572-2200</a>
                <br />
                <abbr title="Website">W:</abbr> <a href="http://embassysuites3.hilton.com/en/hotels/north-carolina/embassy-suites-raleigh-durham-airport-brier-creek-RDUACES/index.html" target="_blank">View more information</a>
            </address>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Booking Information</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" data-bind="visible: lessThanAYear">
                        <dt>Nightly Rate:</dt>
                        <dd>
                            $ 129.00 - King
                            <br />
                            $ 139.00 - 2 Queens
                        </dd>
                        <dt>Rate Code:</dt>
                        <dd>Sealy-Pabst Wedding</dd>
                        <dt>Book by Phone:</dt>
                        <dd><a href="callto:9195722200">(919) 572-2200</a></dd>
                        <dt>Book Online:</dt>
                        <dd>Not Yet Available</dd>
                    </dl>
                </div>
            </div>
            * Note: Prices do not include tax. Rates include complimentary cooked-to-order breakfast, evening reception, and guest room Wi-Fi.
        </div>
        <div class="col-md-8">
            <img src="/content/images/EMB-Front.jpg" class="img-responsive img-thumbnail" style="margin: 0 auto;" alt="Embassy Suites" />
        </div>
    </div>
    <hr />
    <h2>Secondary Hotel</h2>
    <div class="row">
        <div class="col-md-4">
            <address>
                <strong>Hampton Inn & Suites - RDU Airport / Brier Creek</strong>
                <br />
                8021 Arco Corporate Drive
                <br />
                Raleigh, North Carolina 27617
                <br />
                <abbr title="Phone">P:</abbr> <a href="callto:9194840600">(919) 484-0600</a>
                <br />
                <abbr title="Website">W:</abbr> <a href="http://hamptoninn3.hilton.com/en/hotels/north-carolina/hampton-inn-and-suites-raleigh-durham-airport-brier-creek-RDUANHX/index.html" target="_blank">View more information</a>
            </address>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Booking Information</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" data-bind="visible: lessThanAYear">
                        <dt>Nightly Rate:</dt>
                        <dd>
                            $ 99.00 - King
                            <br />
                            $ 109.00 - 2 Queens
                        </dd>
                        <dt>Rate Code:</dt>
                        <dd>Sealy-Pabst Wedding</dd>
                        <dt>Book by Phone:</dt>
                        <dd><a href="callto:9194840500">(919) 484-0500</a></dd>
                        <dt>Book Online:</dt>
                        <dd>Not Yet Available</dd>
                    </dl>
                </div>
            </div>
            * Note: Prices do not include tax. Rates include complimentary buffet breakfast and guest room Wi-Fi.
        </div>
        <div class="col-md-8">
            <img src="/content/images/HAM-Front.jpg" class="img-responsive img-thumbnail" style="margin: 0 auto;" alt="Hampton Inn" />
        </div>
    </div>
    <hr />
    <h2>Alternative Lodging</h2>
    <p>The RDU Airport and Brier Creek area has a large assortment of hotels available to meet all price ranges.  Please note that room block reservations have only been made with the primary and secondary hotels above.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Motels & Low-End</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Microtel Inn</dt>
                        <dd><a href="http://www.microtelinn.com/hotels/north-carolina/morrisville/microtel-inn-raleigh-durham-airport/hotel-overview" target="_blank">View Details</a></dd>
                        <dt>Days Inn</dt>
                        <dd><a href="http://daysinnraleighairport.com/" target="_blank">View Details</a></dd>
                        <dt>Country Inn & Suites</dt>
                        <dd><a href="http://www.countryinns.com/morrisville-hotel-nc-27560/ncralair" target="_blank">View Details</a></dd>
                        <dt>La Quinta</dt>
                        <dd><a href="http://www.lq.com/lq/properties/propertyProfile.do?ident=LQ944&propId=944" target="_blank">View Details</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Mid-End</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Hyatt Place</dt>
                        <dd><a href="http://raleighrdu.place.hyatt.com/en/hotel/home.html" target="_blank">View Details</a></dd>
                        <dt>Holiday Inn</dt>
                        <dd><a href="http://www.ihg.com/holidayinn/hotels/us/en/morrisville/rdums/hoteldetail" target="_blank">View Details</a></dd>
                        <dt>Hilton Garden Inn</dt>
                        <dd><a href="http://hiltongardeninn3.hilton.com/en/hotels/north-carolina/hilton-garden-inn-raleigh-durham-airport-RDUAHGI/index.html" target="_blank">View Details</a></dd>
                        <dt>Fairfield Inn & Suites</dt>
                        <dd><a href="http://www.marriott.com/hotels/travel/rdufa-fairfield-inn-and-suites-raleigh-durham-airport-rtp/" target="_blank">View Details</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">High-End</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>The Umstead Hotel</dt>
                        <dd><a href="http://www.theumstead.com/" target="_blank">View Details</a></dd>
                        <dt>Sheraton Imperial</dt>
                        <dd><a href="http://www.sheratonrtp.com/" target="_blank">View Details</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2>Flight & Travel</h2>
    <p>The Triangle (Raleigh, Durham, Chapel Hill) features a variety of travel providers and options.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Airlines</h3>
                </div>
                <div class="panel-body">
                    <strong>Raleigh-Durham International Airport (RDU)</strong>
                    <ul>
                        <li>United</li>
                        <li>American</li>
                        <li>Delta</li>
                        <li>JetBlue</li>
                        <li>Southwest</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Rental Cars</h3>
                </div>
                <div class="panel-body">
                    <strong>Raleigh-Durham International Airport (RDU)</strong>
                    <ul>
                        <li>Avis</li>
                        <li>Hertz</li>
                        <li>National</li>
                        <li>Dollar</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Buses</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>Greyhound / Carolina Trailways</li>
                        <li>MegaBus</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
