<div class="clearfix">
    <div class="home-cover">
        <div class="home-text">
            <span class="home-title">
                Save the Date!
            </span>
            <br />
            <span class="home-caption">September 26<sup>th</sup> 2015</span>
        </div>
        <div class="home-names">
            <span class="home-names">
                Brenton & Alana
            </span>
        </div>
    </div>
</div>
<img src="/content/images/Home-Cover.jpg" class="img-responsive img-rounded" alt="Home" />