<div class="clearfix">
    <div class="home-cover">
        <div class="home-text">
            <span class="home-title">
                We're Getting Married!
            </span>
            <br />
            <span class="home-caption">Engaged March 1<sup>st</sup> 2014</span>
        </div>
        <div class="home-names">
            <span class="home-names">
                Brenton & Alana
            </span>
        </div>

    </div>

</div>
<img src="/content/images/Home-Cover.jpg" class="img-responsive img-rounded" alt="Home" />