<div class="page">
    <h1 class="page-header">Wedding Party</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Bridesmaids</h2>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Dana Blasko - Maid of Honor</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Dana" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Jocelyn Salada</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Jocelyn" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Kendall Pabst</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Kendall" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Elaine Banner</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Elaine" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Katie Baker</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Katie" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Susannah Skiver</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Susannah" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Groomsmen</h2>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Rich Pabst - Best Man</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Rich" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Corey Marhalik</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Corey" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Ben Koch</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Ben" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Lamont Johnson</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Lamont" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Sean Dudley</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Sean" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Erik Denning</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" class="img-responsive img-thumbnail" style="width:150px;height:150px;" alt="Erik" />
                        </div>
                        <div class="col-md-8">
                            Info goes here...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>