<div class="page">
    <h1 class="page-header">Gift Registries</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Belk
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#" class="btn btn-default">
                        <img src="/content/images/Belk.png" class="img-responsive" alt="Belk" />
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Bed Bath & Beyond
                    </div>
                </div>
                <div class="panel-body">
                    <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541324324&eventType=Wedding" class="btn btn-default" target="_blank">
                        <img src="/content/images/Bed-Bath-Beyond.png" class="img-responsive" alt="Bed Bath & Beyond" />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Williams - Sonoma
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#" class="btn btn-default">
                        <img src="/content/images/Williams-Sonoma.png" class="img-responsive" alt="Williams-Sonoma" />
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Amazon
                    </div>
                </div>
                <div class="panel-body">
                    <a href="#" class="btn btn-default">
                        <img src="/content/images/Amazon.png" class="img-responsive" alt="Amazon.com"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
