<div class="page">
    <h1 class="page-header">Gift Registries</h1>
    <p>
        You can select any one of the stores below to explore our registries.  You can also view our full registry, which is updated periodically, below.
    </p>
    <div class="row">
        <div class=".col-md-6">
            <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541324324&eventType=Wedding" target="_blank">
                <img src="/content/images/Bed-Bath-Beyond.png" class="img-responsive img-thumbnail center-block" style="max-height: 50px; margin-bottom: 10px;" alt="Bed Bath & Beyond" />
            </a>
        </div>
        <div class=".col-md-6">
            <a href="https://secure.williams-sonoma.com/registry/jqm6txbm6f/registry-list.html?bnrid=3101172&cm_ite=hero_cta" target="_blank">
                <img src="/content/images/Williams-Sonoma.png" class="img-responsive img-thumbnail center-block" style="max-height: 40px; margin-bottom: 10px;" alt="Williams-Sonoma" />
            </a>
        </div>
    </div>
    <div class="hidden-xs">
        <hr />
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Full Registry</div>
            </div>
            <iframe src="http://registered.at/sealypabst" style="width: 100%; min-height: 500px; border: none;"></iframe>
        </div>
    </div>
</div>
