<div class="page">
    <h1 class="page-header">Ceremony & Reception</h1>
    <div class="alert alert-info"><strong>Note:</strong> More information, including maps and directions, will be provided closer to the wedding date.</div>
    <h2>Ceremony</h2>
    <div class="row">
        <div class="col-md-4">
            <address>
                <strong>Christ the King Lutheran Church</strong>
                <br />
                600 Walnut Street
                <br />
                Cary, North Carolina 27512
                <br />
                <abbr title="Phone">P:</abbr> <a href="callto:9194678989">(919) 467-8989</a>
                <br />
                <abbr title="Website">W:</abbr> <a href="http://christthekingcary.org/" target="_blank">christthekingcary.org</a>
            </address>
        </div>
        <div class="col-md-8">
            <img src="/content/images/CTCLC-Back.jpg" class="img-responsive img-thumbnail" style="margin: 0 auto;" alt="Christ the King" />
        </div>
    </div>
    <h2>Reception</h2>
    <div class="row">
        <div class="col-md-4">
            <address>
                <strong>Brier Creek Country Club</strong>
                <br />
                9400 Club Hill Drive
                <br />
                Raleigh, North Carolina 27617
                <br />
                <abbr title="Phone">P:</abbr> <a href="callto:9192064600">(919) 206-4600</a>
                <br />
                <abbr title="Website">W:</abbr> <a href="http://www.briercreekcc.com/" target="_blank">www.briercreekcc.com</a>
            </address>
        </div>
        <div class="col-md-8">
            <img src="/content/images/BCCC-Sign.jpg" class="img-responsive img-thumbnail" style="margin: 0 auto;" alt="Brier Creek" />
            <br />
            <br />
            <img src="/content/images/BCCC-Front.jpg" class="img-responsive img-thumbnail" style="margin: 0 auto;" alt="Brier Creek" />
        </div>
    </div>
</div>